
:root.theme-dark {
  --accent-color: #ff0070; 
  --main-title-color: #db00ff;
  --secondary-title-color: #000028; 
  --background-color: #000028;
  --primary-text-color: #f1b2ce; /*цвет основного текста */
  --background-img: url(../images/cover-image-dark.png);
  --border-color-hover: rgba(255, 0, 112, 0.4);
}


